openapi: 3.2.0
info:
  title: REST API for Oracle Responsys Marketing Cloud Service Content Library Media Items API
  version: 2023.03.03
  description: 'REST API for Oracle Responsys Marketing Cloud Service

    <br /><br /><b> Learn more about Responsys APIs in this video and download the <a href= "https://docs.oracle.com/en/cloud/saas/marketing/responsys-develop/Resources/Responsys_API.pdf">Responsys API Brochure</a>.</b><br />


    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLw7GyH-Hj8cOUEctIQIrl3wIdwsTYqFEx" frameborder="0" allowfullscreen="1"></iframe>'
  x-summary: REST API for Oracle Responsys Marketing Cloud Service Learn more about Responsys APIs in this video and download the Responsys API Brochure.
servers:
- url: https://login5.responsys.net/rest/api/v1.3
tags:
- name: Content Library Media Items
  description: Media Files in the Responsys Interact Suite Content Library.
paths:
  /rest/api/v1.3/clItems/{itemPath}:
    post:
      summary: Update a Content Library Media File
      operationId: post /rest/api/v1.3/clItems/{itemPath}
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clItems'
      parameters:
      - name: itemPath
        in: path
        description: The complete path of the media file starting with /contentlibrary.
        required: true
        schema:
          type: string
      x-relation:
      - setContentLibraryItem
      tags:
      - Content Library Media Items
      x-internal-id: rest-api-v1.3-clItems-{itemPath}-post
      x-filename-id: rest-api-v1.3-clitems-itempath-post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clItems'
        description: Request Body
    delete:
      summary: Delete a Content Library Media File
      operationId: delete /rest/api/v1.3/clItems/{itemPath}
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clItems'
      parameters:
      - name: itemPath
        in: path
        description: The complete path of the media file starting with /contentlibrary.
        required: true
        schema:
          type: string
      x-relation:
      - deleteContentLibraryItem
      tags:
      - Content Library Media Items
      x-internal-id: rest-api-v1.3-clItems-{itemPath}-delete
      x-filename-id: rest-api-v1.3-clitems-itempath-delete
    get:
      summary: Retrieve contents of a Content Library Media File
      operationId: get /rest/api/v1.3/clItems/{itemPath}
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clItems'
      parameters:
      - name: itemPath
        in: path
        description: The complete path of the media file starting with /contentlibrary.
        required: true
        schema:
          type: string
      x-relation:
      - getContentLibraryItem
      tags:
      - Content Library Media Items
      x-internal-id: rest-api-v1.3-clItems-{itemPath}-get
      x-filename-id: rest-api-v1.3-clitems-itempath-get
  /rest/api/v1.3/clItems:
    post:
      summary: Create a Content Library Media File
      description: This operation is used to create a content library media file.
      operationId: post /rest/api/v1.3/clItems
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clItems'
      x-relation:
      - setContentLibraryItem
      tags:
      - Content Library Media Items
      x-internal-id: rest-api-v1.3-clItems-post
      x-filename-id: rest-api-v1.3-clitems-post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clItems'
        description: Request Body
  '/rest/api/v1.3/clItems/{destinationItemPath} ':
    put:
      summary: Create a copy of a Content Library Media file.
      description: This operation is used to create a copy of a Content Library Media file.
      operationId: post /rest/api/v1.3/clItems/{destinationItemPath}
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clItems'
      parameters:
      - name: destinationItemPath
        in: path
        description: The complete path of the media file starting with /contentlibrary.
        required: true
        schema:
          type: string
      x-relation:
      - setContentLibraryItem
      tags:
      - Content Library Media Items
      x-internal-id: rest-api-v1.3-clItems-{destinationItemPath} -put
      x-filename-id: rest-api-v1.3-clitems-destinationitempath-put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/copy-contentItem-request'
        description: Request Body
components:
  schemas:
    copy-contentItem-request:
      type: object
      title: copy content document Request
      properties:
        itemPath:
          description: Path of source item
          type: string
    clItems:
      title: Content Library Media Files
      type: object
      properties:
        itemPath:
          description: The complete path of the media file starting with /contentlibrary.
          type: string
        itemData:
          description: Base64 encoded binary string of the media file content.
          type: string
      required:
      - itemPath
      - itemData
