openapi: 3.2.0
info:
  title: REST API for Oracle Responsys Marketing Cloud Service Content Library Documents API
  version: 2023.03.03
  description: 'REST API for Oracle Responsys Marketing Cloud Service

    <br /><br /><b> Learn more about Responsys APIs in this video and download the <a href= "https://docs.oracle.com/en/cloud/saas/marketing/responsys-develop/Resources/Responsys_API.pdf">Responsys API Brochure</a>.</b><br />


    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLw7GyH-Hj8cOUEctIQIrl3wIdwsTYqFEx" frameborder="0" allowfullscreen="1"></iframe>'
  x-summary: REST API for Oracle Responsys Marketing Cloud Service Learn more about Responsys APIs in this video and download the Responsys API Brochure.
servers:
- url: https://login5.responsys.net/rest/api/v1.3
tags:
- name: Content Library Documents
  description: Documents in the Responsys Interact Suite Content Library.
paths:
  /rest/api/v1.3/clDocs:
    post:
      summary: Create a Content Library Document
      operationId: post /rest/api/v1.3/clDocs
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clDocs'
      x-relation:
      - createDocument
      tags:
      - Content Library Documents
      x-internal-id: rest-api-v1.3-clDocs-post
      x-filename-id: rest-api-v1.3-cldocs-post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clDocs'
        description: Request Body
  /rest/api/v1.3/clDocs/{docPath}:
    post:
      summary: Update Contents of a Content Library Document
      operationId: post /rest/api/v1.3/clDocs/{docPath}
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clDocs'
      parameters:
      - name: docPath
        in: path
        description: The complete path of the document starting with '/contentlibrary'.
        required: true
        schema:
          type: string
      x-relation:
      - setDocumentContent
      tags:
      - Content Library Documents
      x-internal-id: rest-api-v1.3-clDocs-{docPath}-post
      x-filename-id: rest-api-v1.3-cldocs-docpath-post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/clDocs'
        description: Request Body
    put:
      summary: Create a copy of a Content Library Document.
      operationId: put /rest/api/v1.3/clDocs/{docPath}
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clDocs'
      parameters:
      - name: docPath
        in: path
        description: ' Destination Document Path'
        required: true
        schema:
          type: string
      x-relation:
      - CopyDocumentContent
      tags:
      - Content Library Documents
      x-internal-id: rest-api-v1.3-clDocs-{docPath}-put
      x-filename-id: rest-api-v1.3-cldocs-docpath-put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/copy-content-request'
        description: Request Body
    delete:
      summary: Delete a Content Library Document
      operationId: delete /rest/api/v1.3/clDocs/{docPath}
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clDocs'
      parameters:
      - name: docPath
        in: path
        description: The complete path of the document starting with '/contentlibrary'.
        required: true
        schema:
          type: string
      x-relation:
      - deleteDocument
      tags:
      - Content Library Documents
      x-internal-id: rest-api-v1.3-clDocs-{docPath}-delete
      x-filename-id: rest-api-v1.3-cldocs-docpath-delete
    get:
      summary: Retrieve contents of a Content Library Document
      operationId: get /rest/api/v1.3/clDocs/{docPath}
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/clDocs'
      parameters:
      - name: docPath
        in: path
        description: The complete path of the document starting with '/contentlibrary'.
        required: true
        schema:
          type: string
      x-relation:
      - getDocumentContent
      tags:
      - Content Library Documents
      x-internal-id: rest-api-v1.3-clDocs-{docPath}-get
      x-filename-id: rest-api-v1.3-cldocs-docpath-get
components:
  schemas:
    clDocs:
      title: Content Library Documents
      type: object
      properties:
        docPath:
          description: The complete path of the document starting with '/contentlibrary'.
          type: string
        content:
          description: Document content.
          type: string
      required:
      - docPath
      - content
    copy-content-request:
      type: object
      title: copy content document Request
      properties:
        documentPath:
          description: Path of source Document
          type: string
