openapi: 3.2.0
info:
  title: REST API for Oracle Responsys Marketing Cloud Service Email or Push Campaign Schedule API
  version: 2023.03.03
  description: 'REST API for Oracle Responsys Marketing Cloud Service

    <br /><br /><b> Learn more about Responsys APIs in this video and download the <a href= "https://docs.oracle.com/en/cloud/saas/marketing/responsys-develop/Resources/Responsys_API.pdf">Responsys API Brochure</a>.</b><br />


    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLw7GyH-Hj8cOUEctIQIrl3wIdwsTYqFEx" frameborder="0" allowfullscreen="1"></iframe>'
  x-summary: REST API for Oracle Responsys Marketing Cloud Service Learn more about Responsys APIs in this video and download the Responsys API Brochure.
servers:
- url: https://login5.responsys.net/rest/api/v1.3
tags:
- name: Email or Push Campaign Schedule
  description: Schedule an Email or a Push Campaign
paths:
  /rest/api/v1.3/campaigns/{campaignName}/schedule:
    post:
      summary: Create an Email or Push campaign schedule
      operationId: post /rest/api/v1.3/campaigns/{campaignName}/schedule
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-retrieve-campaignSchedule-response'
      parameters:
      - name: campaignName
        in: path
        description: Campaign Name
        required: true
        schema:
          type: string
      x-relation:
      - createSchedule
      tags:
      - Email or Push Campaign Schedule
      x-internal-id: rest-api-v1.3-campaigns-{campaignName}-schedule-post
      x-filename-id: rest-api-v1.3-campaigns-campaignname-schedule-post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/campaignSchedule'
        description: Request Body
    get:
      summary: Fetch All Email or Push Campaign Schedules
      operationId: get /rest/api/v1.3/campaigns/{campaignName}/schedule
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/campaignSchedule-collection'
      parameters:
      - name: campaignName
        in: path
        description: Campaign Name
        required: true
        schema:
          type: string
      x-relation:
      - instances
      tags:
      - Email or Push Campaign Schedule
      x-internal-id: rest-api-v1.3-campaigns-{campaignName}-schedule-get
      x-filename-id: rest-api-v1.3-campaigns-campaignname-schedule-get
  /rest/api/v1.3/campaigns/{campaignName}/schedule/{scheduleId}:
    get:
      summary: Retrieve an Email or Push campaign schedule
      operationId: get /rest/api/v1.3/campaigns/{campaignName}/schedule/{scheduleId}
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/create-retrieve-campaignSchedule-response'
      parameters:
      - name: campaignName
        in: path
        description: Campaign Name
        required: true
        schema:
          type: string
      - name: scheduleId
        in: path
        description: Schedule Id
        required: true
        schema:
          type: string
      x-relation:
      - getSchedule
      tags:
      - Email or Push Campaign Schedule
      x-internal-id: rest-api-v1.3-campaigns-{campaignName}-schedule-{scheduleId}-get
      x-filename-id: rest-api-v1.3-campaigns-campaignname-schedule-scheduleid-get
    put:
      summary: Update an Email or Push campaign schedule
      operationId: put /rest/api/v1.3/campaigns/{campaignName}/schedule/{scheduleId}
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-delete-campaignSchedule-response'
      parameters:
      - name: campaignName
        in: path
        description: Campaign Name
        required: true
        schema:
          type: string
      - name: scheduleId
        in: path
        description: Schedule Id
        required: true
        schema:
          type: string
      x-relation:
      - updateSchedule
      tags:
      - Email or Push Campaign Schedule
      x-internal-id: rest-api-v1.3-campaigns-{campaignName}-schedule-{scheduleId}-put
      x-filename-id: rest-api-v1.3-campaigns-campaignname-schedule-scheduleid-put
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/update-campaignSchedule-request'
        description: Request Body
    delete:
      summary: Delete an Email or Push campaign schedule
      operationId: delete /rest/api/v1.3/campaigns/{campaignName}/schedule/{scheduleId}
      responses:
        default:
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/update-delete-campaignSchedule-response'
      parameters:
      - name: campaignName
        in: path
        description: Campaign Name
        required: true
        schema:
          type: string
      - name: scheduleId
        in: path
        description: Schedule Id
        required: true
        schema:
          type: string
      x-relation:
      - updateSchedule
      tags:
      - Email or Push Campaign Schedule
      x-internal-id: rest-api-v1.3-campaigns-{campaignName}-schedule-{scheduleId}-delete
      x-filename-id: rest-api-v1.3-campaigns-campaignname-schedule-scheduleid-delete
components:
  schemas:
    campaignSchedule:
      title: Email or Push Campaign Schedule
      type: object
      properties:
        launchOptions:
          description: Launch Options for the schedule.
          type: object
          properties:
            progressChunk:
              enum:
              - CHUNK_10K
              - CHUNK_50K
              - CHUNK_100K
              - CHUNK_500K
              - CHUNK_1M
              type: string
              description: Progress Chunk.
            recipientLimit:
              type: integer
              description: Recipient Limit.
            proofLaunchType:
              enum:
              - LAUNCH_TO_ADDRESS
              - LAUNCH_TO_PROOFLIST
              - LAUNCH_TO_ADDRESS_USING_PROOFLIST
              type: string
              description: Proof Launch type.
            progressEmailAddresses:
              type: array
              description: Email addresses to inform of progress.
              items:
                type: string
            samplingNthOffset:
              type: integer
              description: Sampling offset.
            samplingNthInterval:
              type: integer
              description: Sampling Interval.
            proofLaunch:
              type: boolean
              description: Should a proof launch be performed.
            samplingNthSelection:
              type: integer
              description: Sampling Selection.
            proofLaunchEmail:
              type: string
              description: Email address for the proof launch.
        scheduleType:
          description: Schedule Type.
          enum:
          - NOW
          - ONCE
          type: string
        scheduledTime:
          description: Date in the format yyyy-mm-dd HH:mm
          type: string
        recurringEndTime:
          description: Date in the format yyyy-mm-dd HH:mm
          type: string
      required:
      - scheduleType
      - scheduledTime
    retrieve-campaignSchedule-response:
      type: object
      title: Email or Push Campaign Schedule
      properties:
        id:
          description: ID of the schedule.
          type: string
        launchOptions:
          description: Launch Options for the schedule.
          type: object
          properties:
            progressChunk:
              enum:
              - CHUNK_10K
              - CHUNK_50K
              - CHUNK_100K
              - CHUNK_500K
              - CHUNK_1M
              type: string
              description: Progress Chunk.
            recipientLimit:
              type: integer
              description: Recipient Limit.
            proofLaunchType:
              enum:
              - LAUNCH_TO_ADDRESS
              - LAUNCH_TO_PROOFLIST
              - LAUNCH_TO_ADDRESS_USING_PROOFLIST
              type: string
              description: Proof Launch type.
            progressEmailAddresses:
              type: array
              description: Email addresses to inform of progress.
              items:
                type: string
            samplingNthOffset:
              type: integer
              description: Sampling offset.
            samplingNthInterval:
              type: integer
              description: Sampling Interval.
            proofLaunch:
              type: boolean
              description: Should a proof launch be performed.
            samplingNthSelection:
              type: integer
              description: Sampling Selection.
            proofLaunchEmail:
              type: string
              description: Email address for the proof launch.
        scheduleType:
          description: Schedule Type.
          enum:
          - NOW
          - ONCE
          - RECURRING
          type: string
        scheduledTime:
          description: Date in the format yyyy-mm-dd HH:mm
          type: string
        recurringEndTime:
          description: Date in the format yyyy-mm-dd HH:mm
          type: string
    campaignSchedule-collection:
      title: Email or Push Campaign Schedules
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/retrieve-campaignSchedule-response'
    update-delete-campaignSchedule-response:
      type: object
      title: Update Email or Push Campaign Schedule Response
      properties:
        id:
          description: ID of the schedule.
          type: string
        scheduleType:
          description: Schedule Type.
          enum:
          - NOW
          - ONCE
          type: string
        scheduledTime:
          description: Date in the format yyyy-mm-dd HH:mm
          type: string
        launchOptions:
          description: Launch Options for the schedule.
          type: object
          properties:
            proofLaunch:
              type: boolean
              description: Should a proof launch be performed.
    create-retrieve-campaignSchedule-response:
      type: object
      title: Email or Push Campaign Schedule
      properties:
        id:
          description: ID of the schedule.
          type: string
        launchOptions:
          description: Launch Options for the schedule.
          type: object
          properties:
            progressChunk:
              enum:
              - CHUNK_10K
              - CHUNK_50K
              - CHUNK_100K
              - CHUNK_500K
              - CHUNK_1M
              type: string
              description: Progress Chunk.
            recipientLimit:
              type: integer
              description: Recipient Limit.
            proofLaunchType:
              enum:
              - LAUNCH_TO_ADDRESS
              - LAUNCH_TO_PROOFLIST
              - LAUNCH_TO_ADDRESS_USING_PROOFLIST
              type: string
              description: Proof Launch type.
            progressEmailAddresses:
              type: array
              description: Email addresses to inform of progress.
              items:
                type: string
            samplingNthOffset:
              type: integer
              description: Sampling offset.
            samplingNthInterval:
              type: integer
              description: Sampling Interval.
            proofLaunch:
              type: boolean
              description: Should a proof launch be performed.
            samplingNthSelection:
              type: integer
              description: Sampling Selection.
            proofLaunchEmail:
              type: string
              description: Email address for the proof launch.
        scheduleType:
          description: Schedule Type.
          enum:
          - NOW
          - ONCE
          type: string
        scheduledTime:
          description: Date in the format yyyy-mm-dd HH:mm
          type: string
        recurringEndTime:
          description: Date in the format yyyy-mm-dd HH:mm
          type: string
    update-campaignSchedule-request:
      type: object
      title: Update Email or Push Campaign Schedule Request
      properties:
        scheduleType:
          description: Schedule Type.
          enum:
          - NOW
          - ONCE
          type: string
        scheduledTime:
          description: Date in the format yyyy-mm-dd HH:mm
          type: string
